      
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/product/edit-product/{{product.id}}?_method=PUT" method="POST" enctype="multipart/form-data" id="ValidaProducto">
                <input type="hidden" name="_method" value="PUT">                
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Editar Producto: {{product.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>            
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Nombre" required value="{{product.name}}">
                    </div>
                    <div class="form-group">
                        <textarea type="text" name="description" class="form-control" placeholder="Descripcion" required> {{product.description}} </textarea>
                    </div>
                    <div class="form-group">
                        <textarea type="text" name="characteristics" class="form-control" placeholder="Caracteristicas" required>{{product.characteristics}}</textarea>
                    </div>                                                
                    <div class="form-group">
                        <input type="file" name="image" placeholder="Description" class="form-control"><a target="_blank" href="/upload/{{product.image}}"> {{product.image}} </a></file>
                    </div>
                </div>           
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Actualizar</button>
                </div>                                                 
            </form>
        </div>
    </div>   