<div class="modal fade" id="nuevo" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">  
</div>
<div class="modal fade" id="edicion" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
</div>  

<div class="modal fade" id="delete" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
</div>     

<div class="container-listas"> 
    <div class="row">       
        <div class="col m18 m2 offset-m1">  
              <button type="button" onclick="ModalNuevo('/product/new-product')" class="btn btn-success" data-toggle="modal">
                <i class="fa fa-plus"></i></a>
              </button>          
              <br>               
              <br>
            <table class="table table-striped responsive">
                <thead>
                    <tr>
                        <th scope="col">Nro</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Caracteristicas</th>
                        <th scope="col">Imagen</th>
                        <th scope="col"> Opciones </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each product }}                    
                    <tr>
                        <td> 1 </td>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                        <td>{{characteristics}}</td>
                        <td>
                            {{#if image }}
                                <a target="_blank" href="/upload/{{image}}">App </a>   
                                         
                            {{/if}}
                            
                        </td>
                        <td>
                            <button type="button"  onclick="ModalEditar('/product/edit-product/{{_id}}')" class="btn btn-warning" data-toggle="modal">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button type="button" onclick="ModalDelete('/product/delete-product/{{_id}}')" class="btn btn-danger"><i class="fa fa-trash"></i>
                            </button>                            
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>   
</div>
  