{{#if user }}
  <nav class="profile-nav">
    <a href="#" class="btn-floating" id="menudesa"> <i class=" icono fa fa-chevron-circle-left"></i></a>              
    <nav class="pull-right">
    </nav>          
  </nav>
{{else}}
<nav class="top-nav">
<a href="#" class="btn-floating" id="menudesa"> <i class=" icono fa fa-chevron-circle-left"></i></a>    
</nav>
{{/if}}
<ul class="sidenav sidenav-chk">
  <a href="#" class="btn-floating" id="menu"> <i class=" icono fa fa-chevron-circle-right"></i></a>  
  <div class="contenedor-menu">
    <li>
      {{#if user }}
      {{#if user.photo }}
      <center>
        <img src="{{user.photo}}" class="logo">
      </center>
      {{else}}
      <center><img src="/img/logo.png" class="logo"></center>
      {{/if}}
      {{else}}
      <center><img src="/img/bienvenido.png" class="logo"></center>
      {{/if}}
    </li>
    <br>
    <ul class="menu">
      {{#if user }}
      <li class="bold"><a href="/profile" class="collapsible-header"><i class="fa fa-user-o"></i> {{user.name}}</a>
        <li class="bold"><a href="/product/list-product" class="collapsible-header"><i class="fa fa-shopping-basket"></i> Productos</a></li>  
        <li class=""><a href=""><i class="fa fa-street-view"></i> Ver Kiddle</a></li>
        <li class=""><a href=""><i class="fa fa-share-alt"></i> Compartir</a></li>
        <li class=""><a href="/users/logout"><i class="fa fa-power-off"></i> Salir</i></a></li>
      </li>
      {{else}}
      <li class="bold"><a href="/" class="collapsible-header"><i class="fa fa-home"></i> Inicio</a>
      <li class="bold"><a class="collapsible-header"><i class="fa fa-users"></i> Acceso</a>
        <ul>
          <li><a href="/users/begin-session"><i class="fa fa-envelope-open"></i> Iniciar Sesión</a></li>
          <li><a href="/users/new-register"><i class="fa fa-user-circle"></i> Registrarse</a></li>
        </ul>
      </li>
      <li class="bold"><a  href="/admin" class="collapsible-header" ><i class="fa fa-cogs"></i> Administración </a>   
      {{!-- onclick="Admin('/admin')"    --}}
      {{/if}}
    </ul>
    <li>
      <div class="divider"></div>
    </li>
  </div>
</ul>